{% extends 'layout/base.html' %}

{% block title %}{{ block.super }} | Sign Up {% endblock title %}

{% block content %}

{% if password_mismatch %}
<h1>{{password_mismatch}}</h1>
{% elif error%}
<h1>{{error}}</h1>
{% endif %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            {% if form %}
            <form method="POST" class="card card-body">
                <h1 class="text-center">Sign Up</h1>
                {% csrf_token %}
                {# {{form.as_p}} #}
                <div class="mb-3">
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" required id="id_username" class="form-control" placeholder="Write your username">
                </div>

                <div class="mb-3">
                    <label for="id_password1">Password:</label>
                    <input type="password" name="password1" required id="id_password1" class="form-control" placeholder="Write your password">
                </div>

                <div class="mb-3">
                    <label for="id_password2">Confirm password:</label>
                    <input type="password" name="password2" required id="id_password2" class="form-control" placeholder="Repeat your password">
                </div>

                <button class="btn btn-primary">
                    Sign Up
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</main>

{% endblock content %}