{% extends 'layout/base.html' %}

{% block title %}{{ block.super }}| Task detail {% endblock title %}

{% block content %}

{% if message %}
<h1>{{message}}</h1>
{% endif %}

<div class="task">
    <h1>{{task.pk}} - {{task.title}}</h1>
</div>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>Update</button>
</form>

<form action=" {% url 'task_complete' task.id %} " method="POST">
    {% csrf_token %}
    <button>Complete</button>
</form>

<form action=" {% url 'task_delete' task.id %} " method="POST">
    {% csrf_token %}
    <button>Delete</button>
</form>

{% endblock content %}